#navigation #nav-toggle {
	&:hover {
		color: var(--color-theme-alt-600);
	}
}

#navigation #scene-list .scene.gm {
	background: var(--color-theme-alt-800);
	border-color: var(--color-theme-alt-600);
}
